@import "tailwindcss";

:root {
  /* Palette personnalisée */
  --color-primary: #8b5cf6;
  --color-background: #050505;
  --color-surface: #131313;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-variant: #353534;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #cbc3d7;
  --color-outline: #958ea0;
  --color-outline-variant: #494454;
  --color-on-primary: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-surface);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.glass-panel {
  background: rgba(19, 19, 19, 0.9);
  backdrop-filter: blur(12px);
}

.bg-grid-pattern {
  background-color: var(--color-background);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 32px 32px;
}